body {
    margin: 0 auto;
    font-family: sans-serif;
}

nav {
    background: bisque;
    padding: 30px 60px;
}

nav .home__page__navbar {
    display: flex;
    justify-content: space-between;
}

.home__page__navbar__cart {
    position: relative;
    background: #fff;
    padding: 10px;
    height: 35px;
    border-radius: 15px;
}

.home__page__navbar__cart__number {
    position: absolute;
    background: #d4a373;
    border-radius: 5px;
    text-align: center;
    padding: 5px 8px;
    right: -22%;
    top: -32%;
}

#home__page__product__listing {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
}

.home__page__item {
    border: 2px solid #000;
    border-radius: 15px;
    padding-bottom: 20px;
}

.home__page__item__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home__page__item__content img {
    width: 100%;
    height: 400px;
    border-radius: 15px 15px 0 0;
}

.home__page__item__content__details {
    padding: 0 20px;
}

.home__page__item__content__details__price__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__page__item__content__details__price__group__price {
    font-size: 1.8rem;
    font-weight: bold;
}

.home__page__item__content__details__price__group__buttons {
    display: flex;
    gap: 10px;
}

.home__page__item__content__details__price__group__buttons__btn {
    border-radius: 10px;
    font-size: 1rem;
    padding: 5px 10px;
}

/************CART PAGE STYLING**************/
.cart__page__section {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.cart__page__product__section {
    width: 55%;
}

.cart__page__product__section__product {
    display: flex;
    align-items: center;
    gap: 50px;
    border: 2px solid #000;
    padding: 20px 50px;
}

.cart__page__product__section__product__price__group {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.cart__page__product__section__product__qty {
    width: 50px;
    text-align: center;
}

.cart__page__product__section__product__remove__group {
    display: flex;
    align-items: center;
    padding-top: 41px;
    gap: 10px;
}

.cart__page__product__section__product__remove__group svg {
    width: 15px;
    fill: grey;
}

.cart__page__product__section__product__remove__group__text {
    color: grey;
}

.cart__page__section__checkout {
    border: 2px solid #000;
    width: 234px;
    height: 100%;
    padding: 0 50px 20px 50px;
}

.cart__page__section__checkout__total__group button {
    background-color: hsl(147.25deg 95.64% 34.29% / 81%);
    color: #fff;
    font-size: 1.5rem;
    padding: 5px 10px;
}

/************************************************/
/************MOBILE RESPONSIVENESS**************/
/************************************************/

@media (max-width: 1250px) {
    #home__page__product__listing {
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 635px) {
    #home__page__product__listing {
        grid-template-columns: repeat(1, 300px);
    }
}
