body {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.my__header {
    text-align: center;
}

.dice__roll__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random__number__container {
    display: flex;
    flex-direction: column;
}
.my__labels {
    font-size: 10em;
}

#roll__btn {
    font-size: 3em;
    padding: 10px 30px;
}